DB_PASSWORD=s
DB_USER=o
DB_NAME=m
DB_HOST=t
DB_PORT=5432

JWT_SECRET_KEY=your_secret
JWT_ALGORITHM=HS256
JWT_REFRESH_TOKEN_EXPIRE_DAYS=30
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_SECURE=False

B2B_SERVICE_KEY=dev-service-key
MODERATION_SERVICE_URL=http://moderation:8000

ADMIN_EMAIL=admin@neomarket.local
ADMIN_PASSWORD=admin12345
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=User
ADMIN_COMPANY_NAME=NeoMarket
ADMIN_INN=1234567890

API_V1_STR="/api/v1"

B2B_PORT=8080
